<!DOCTYPE html>
<html>
  <body>
    <div class="wrapper_cpu">
      <div class="table_side">
        <table border="1" style="border-collapse: collapse" bordercolor="black" bgcolor="green" width="600" height="600" class="table"  id="table">
          <tr>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
          </tr>
          <tr>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
          </tr>
          <tr>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
          </tr>
          <tr>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"><div class="black-stone"></div></td>
            <td height="75"><div class="white-stone"></div></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
          </tr>
          <tr>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"><div class="white-stone"></div></td>
            <td height="75"><div class="black-stone"></div></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
          </tr>
          <tr>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
          </tr>
          <tr>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
          </tr>
          <tr>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
            <td height="75"></td>
          </tr>
        </table>
      </div>

      <div class="infomation_side">
        <br>
        <br>
        <input type="button" value="Pass" id="pass" style="font-size:20px;width:60px;height:40px">
        <br>
        <br>
        <!- 石の数 ->
          <div class="stone_number">
            <div class="player">Player</div>
            <div class="white-stone"></div>
            <div id="white_num">
              <div id="num">2</div>
            </div>
          </div>
          <div class="stone_number">
            <div class="player">CPU</div>
            <div class="black-stone"></div>
            <div id="black_num">
              <div id="num">2</div>
            </div>
          </div>
        <br>
        <div id="result"></div>
      </div>
    </div>
    <%= javascript_pack_tag 'cpu/application' %>
  </body>
</html>