<!DOCTYPE html>
<html>
<head>
  <title>Othello</title>
</head>

<body id="index_body">
 <div id="title_name">Othello</div>
  <%= link_to "2人で対戦", new_board_path, class: "game_start" %>
  <br>
  <br>
  <%= link_to "CPUと対戦", cpu_boards_path, class: "game_start" %>
</body>
</html>