#index_body {
  text-align: center;
  background-color: darkseagreen;
  background-image: url("/images/flower-back.jpeg");
  background-size: 100% auto;
}

#title_name {
  font-size: 200px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a {
  font-size: 50px;
} 

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url("/images/flower.jpeg");
  background-size: 100% auto;
}

.wrapper_cpu {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url("/images/flower2.jpeg");
  background-size: 100% auto;
}

.table_side {
  width: 650px;
}

.black-stone {
  background-color: black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
.white-stone {
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.table {
  table-layout: fixed;
}





.information_side {
  width: calc(100vw - 650px);
  background-image: url("/images/flower.jpeg");
  background-size: 100% auto;
}

#player_turn {
  font-size: 35px;
}

.stone_number {
  width: 300px;
  display: flex;
  margin-bottom: 10px;
  font-size: 35px;
}

.player {
  width: 150px;
}

#result {
  width: 250px;
  height: 80px;
  display: flex;
  align-items:center;
}

#win {
  color:red;
  font-size: 50px;
}

#draw {
  color:black;
  font-size: 50px;
}

#num {
  font-size: 35px;
  width: 50px;
  margin-left: 10px;
}